html {
  scroll-behavior: smooth;
  } /* modificação minha*/
 
body{
  font-family: "Fira Sans", Arial, sans-serif;
  margin: 0px;
  color: #141414;
}

h1, h2, h3, p{
  margin: 0px;
}

ul{
  margin:0px;
  padding: 0px;
  list-style: none;
}

img{
  max-width:100%;
  height: auto;
  display: block;
}

.subtitulo{
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
}

/* modificação minha*/
.introducao #btn-top{
  text-decoration: none;
  color:#141414;
  background: linear-gradient(#b6f829, #67dd0a);
  padding: 10px;
  border-radius: 4px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 9999;

}

@media (max-width: 800px){
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
/* modificação minha*/
  .introducao #btn-top{
    padding: 3px;
  }

}